* {
    margin: 0;
    padding: 0;
}


/*--apply---*/

#search-div {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 5px;
    justify-content: right;
    padding-right: 10px;
    padding-top: 3%;
}

#certAp-table {
    border-top: solid 1px rgb(158, 158, 158);
    border-bottom: solid 1px rgb(158, 158, 158);
    text-align: center;
    margin: auto;
    height: 100%;
    width: 100%;
    display: table;
  }

#user-name {
    width: 25%;
    background-color: rgb(240, 240, 240);
}

#ch-box {
    width: 5%;
    background-color: rgb(240, 240, 240);
}

#tears {
    width: 30%;
    background-color: rgb(240, 240, 240);
}

#cer-date {
    width: 30%;
    background-color: rgb(240, 240, 240);
}

#ap-button {
    width: 10%;
    background-color: rgb(240, 240, 240);
}



/*--comple---*/

#search-div-com {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 5px;
    justify-content: right;
    padding-right: 10px;
    padding-top: 3%;
}

#certCom-table {
    border-top: solid 1px rgb(158, 158, 158);
    border-bottom: solid 1px rgb(158, 158, 158);
    text-align: center;
    margin: auto;
    height: 100%;
    width: 100%;
    display: table;
  }

#user-name-c {
    width: 25%;
    background-color: rgb(240, 240, 240);
}

#ch-box-c {
    width: 5%;
    background-color: rgb(240, 240, 240);
}

#tears-c {
    width: 30%;
    background-color: rgb(240, 240, 240);
}

#cer-date-c {
    width: 30%;
    background-color: rgb(240, 240, 240);
}

#ap-button-c {
    width: 10%;
    background-color: rgb(240, 240, 240);
}

/*common*/

.d-flex {
    max-width:50%;
}

.certTitle {
    display: flex;
    background-color: #6C757D;
    height: 60px;
    align-items: center;
    justify-content: left;
    padding-left: min(18px);
    color: white;
}