* {
    margin: 0;
    padding: 0;
}

.delivery-Info {
    padding: 20px;
}

.board-line {
    border-bottom: solid 1px rgb(83, 83, 83);
    padding-bottom: 10px;
}

.set-DeliveryButton {
    display: flex;
    justify-content: right;
}
