/*----------------home.js-----------------*/

.images_2 {
    padding-left: clamp(0%,25%,25%);
    width: auto;
    max-height: 150px;
    min-height: auto;
    background-image: cover;
    padding-bottom: 10px;
  }

  .images_3 {
    padding-left: clamp(0%,15%,15%);
    width: auto;
    max-height: 150px;
    min-height: auto;
    background-image: cover;
    padding-bottom: 10px;
  }
  
  .checker {
    text-align: center;
    padding-bottom: 5px;
    border: solid 1px gainsboro;
  }
  
  .homepage-row {
    align-items: center;
    height: 400px;
  }
  
  .homepage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px min(10%, 150px) 10px min(10%, 150px);
    margin: auto;
  }

  .board_title p {
    margin-top: 5px;
    font-size: 1rem;
  }

  #notice-table1 {
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 30px;
    display: table;
    font-size: 15px;
  }

  #notice-table2 {
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    text-align: center;
    width: 100%;
    height: 50px;
    display: table;
    font-size: 15px;
  }

  .num {
    width: 10%;
  }

  .td-title {
    width: 60%;
  }

  .writer {
    width: 10%;
  }

  .date {
    width: 10%;
  }

  .counting {
    width: 10%;
  }