* {
  padding: 0;
  margin: 0;
}


.board_title {
  margin-bottom: 25px;
}

.board_wrap {
  display: flex;
  flex-flow: column wrap;
  padding: 2rem min(10% ,300px) 0 min(10% ,300px);
  margin: auto;
  }

p {
  word-wrap: initial;
}

#notice-table {
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    text-align: center;
    margin: auto;
  }

.pag_custom {
  padding-top: 30px;
  justify-content: center;
  color: black;
}

.button-div {
  display:flex;
  justify-content: center;
}

.check_button {
  width: 10%;
  
}


